@import url(http://fonts.googleapis.com/css?family=Open+Sans);

body { 
  font-family: 'Open Sans', sans-serif;
  color: #666;
}

/******************************************
FONT
******************************************/

h2 {
  font-size: 1.75em;
  margin: -5px 0 0em;
  font-weight: bold;

}



/******************************************
NAVIGATION
******************************************/

nav {
  text-align: center;
  padding: 10px 0;
  margin: 20px 0 0;
  width: 100%;  
}

nav ul {
  list-style: none;
  margin: 0 10px;
  padding: 0;
  font-size: 1em;
}

nav li {  display: inline-block;  
}


nav a {
  font-weight: 700;
  padding: 15px 10px;
}

/******************************************
FOOTER
******************************************/

footer {
  font-size: 1em;
  text-align: center;
  clear: both;
  padding-top: 50px;
  color: #ccc;
}

/* STRUCTURE */

#pagewrap {
	padding: 5px;
	width: 90%;
	margin: 20px auto;
}
header {
	height: 100%;
	padding: 0 15px;
}
#content {
	width: 20%;
	float: left;
	padding: 5px 15px;
}

#middle {
	width: 50%; /* Account for margins + border values */
	float: left;
	padding: 5px 15px;
	margin: 0px 5px 5px 5px;
}

#sidebar {
	width: 20%;
	padding: 5px 10px;
	float: right;
}
footer {
	clear: both;
	padding: 0 15px;
}

/************************************************************************************
MEDIA QUERIES
*************************************************************************************/
/* for 980px or less */
@media screen and (max-width: 980px) {
	
	#pagewrap {
		width: 94%;
	}
	#content {
		width: 35%;
		padding: 1% 4%;
	}
	#middle {
		width: 50%;
		padding: 1% 2%;
		margin: 0px 0px 5px 5px;
		float: right;
	}
	
	#sidebar {
		clear: both;
		padding: 1% 4%;
		width: 15%;
		float: none;
	}

	header, footer {
		padding: 1% 4%;
	}
}

/* for 700px or less */
@media screen and (max-width: 600px) {

	#content {
		width: auto;
		float: none;
	}
	
	#middle {
		width: auto;
		float: none;
		margin-left: 0px;
	}
	
	#sidebar {
		width: auto;
		float: none;
	}

}

/* for 480px or less */
@media screen and (max-width: 480px) {

	header {
		height: auto;
	}
	h1 {
		font-size: 2em;
	}
}


#content {
	background: #f8f8f8;
}
#sidebar {
	background: #f0efef;
}
header, #content, #middle, #sidebar {
	margin-bottom: 5px;
}

#pagewrap, header, #content, #middle, #sidebar, footer {
	border: none;
}

