@media screen and (min-width:480px){{width:50%;float:left;}
{float:left;margin:0 5% 80px 0;}
}
@media screen and (min-width:660px){nav{background:none;font-size:1.125em;margin-right:5%;text-align:center;}
h1{font-size:2.5em;}
h2{font-size:0.825em;margin-bottom:10px;}
header{border-bottom:5px margin-bottom:50px;}
}