/** Start Coding Here **/
#overlay {
  background:none;
  width:100%;
  height:100%;
  position:absolute;
  top:0;
  left:0;
  display:none;
  text-align:center;
}

#overlay img {
 margin-top: 10%;
 width:336px;
  height:448px; 

}

#overlay p {
 color:white; 
}

